* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* FOOTER START*/
/* Footer's Logo */
.footer-icon-logo {
	width: 118px;
	height: 98px;
	object-fit: contain;
	transition: transform 0.3s ease-out;
}

.footer-icon-logo:hover {
	transform: scale(1.1);
}

/* Footer's Icon */
.footer-icon {
	width: 62px;
	height: 52px;
	object-fit: contain;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

.footer-icon:hover {
	transform: scale(1.1);
	opacity: 0.8;
}

.card-title {
	font-weight: 550;
	font-size: 1.5rem;
	font-family: 'Courier New', Courier, monospace;
	text-transform: capitalize;
	line-height: 2.5;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* HEADER & FOOTER */
.custom-header {
	background-color: #f4f5f7 !important;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.custom-footer {
	background-color: #f4f5f7 !important;
	border: none !important;
}
/* FOOTER END*/

/* CONTACT STARTS */
#contact h2 {
	font-weight: 900;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Hover Below CONTACT */
#contact h2::after {
	content: "";
	display: block;
	width: 160px;
	height: 4px;
	background-color: #00ADB5;
	margin: 12px auto 0;
	border-radius: 2px;
}

.contact-section h2 {
	/*For "CONTACT ME" */
	font-weight: 900;
}

.contact-card:hover {
	transform: translateY(5px);
	box-shadow: 0 4px 20px rgba(39, 33, 33, 0.972);
}

.contact-section .form-control {
	border-radius: 6px;
	border: 1px solid #0b2b2e;
	padding: 10px 12px;
}

.contact-section .btn {
	border-radius: 6px;
	font-weight: 600;
	letter-spacing: 0.5px;
	transition: 0.3s ease;
}

.contact-section .btn:hover {
	background-color: #000408;
}

.contact-card {
	transition: all 0.3s ease-in-out;
}

.contact-card:hover {
	transform: translateY(4px), opacity 0.2s ease;
}

.contact-icon {
	width: 60px;
	height: 60px;
	object-fit: contain;
}

.contact-card p {
	font-size: .95rem;
	color: #555;
	margin-bottom: 0;
}

.contact-section .btn {
	border-radius: 6px;
	font-weight: 900;
	letter-spacing: 0.5px;
	color: rgb(15, 18, 17);
}

.contact-section .btn-primary {
	background-color: #7a8d8f !important;
	border: none !important;
}

.contact-section .btn-primary:hover {
	background-color: #393E46 !important;
	color: #ffffff !important;
}

.contact-section .form-control:focus {
	box-shadow: 0 0 5px #393E46 !important;
	outline: none !important;
}
/* CONTACT ENDS */

/* SKILL START */
#skills .card {
	border: none;
	border-radius: 18px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

#skills h2 {
	font-weight: 900;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	text-align: center;
}

#skills h2::after {
	content: "";
	display: block;
	width: 60px;
	height: 4px;
	background-color: #00ADB5;
	margin: 12px auto 0;
	border-radius: 2px;
}

.skill-title {
	font-weight: 600;
	color: #4b5563;
	font-size: 1.12rem;
}

.skill-bar {
	width: 100%;
	height: 17px;
	background: #7c8d8f;
	border-radius: 8px;
	box-shadow: inset 0 0 0 2px rgba(59, 130, 246, 0.18);
	overflow: hidden;
}

.skill-fill {
	height: 100%;
	background: #1f2022;
	border-radius: 8px 0 0 8px;
	transition: width 0.6s ease;
}

/* Responsiveness */
@media (max-width: 767px) {
	.skill-bar {
		height: 12px;
	}

	.skill-title {
		font-size: 0.98rem;
	}
}
/* SKILL END */

/* PROJECT STARTS */
#projects h2 {
	font-weight: 900;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	text-align: center;
	/* color: #1f2022; */
}

#projects h2::after {
	content: "";
	display: block;
	width: 100px;
	height: 4px;
	background-color: #00ADB5;
	margin: 12px auto 0;
	border-radius: 2px;
}

.project-card {
	background-color: #38616297;
	border-radius: 25px;
	transition: all 0.3s ease;
	border: 2px solid rgba(78, 101, 107, 0.274);
}

.project-card:hover {
	transform: translateY(5px);
}

.project-img {
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.tech-used {
	font-size: 0.9rem;
	margin-bottom: 8px;
}

.project-link {
	text-decoration: none !important;
	color: inherit !important;
}
/* PROJECT ENDS */

/* NAV STARTS */
.header-logo {
	width: 65px;
	height: 50px;
	object-fit: contain;
	transition: all 0.3s ease;
}

.header-logo:hover {
	transform: translateY(2px);
}

.navbar-nav .nav-link {
	position: relative;
	font-weight: 600;
	color: #000;
	transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
	color: #393E46;
	transform: translateY(2px);
}

.navbar-nav .nav-link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0;
	height: 4px;
	background-color: #7a8d8f;
	transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
	width: 100%;
}

.about_img--wrapper {
	background-color: #ffffff;
	padding: 8px;
	border-radius: 7px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
	display: inline-block;
}

.about_img--wrapper img {
	width: 100%;
	max-width: 300px;
	border-radius: 1px;
	object-fit: cover;
}
/* NAV ENDS */

/* ACHIEVEMENT STARTS */
#achievements h2 {
	font-weight: 900;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#achievements h2::after {
	content: "";
	display: block;
	width: 510px;
	height: 4px;
	background-color: #00ADB5;
	margin: 12px auto 0;
	border-radius: 2px;
}

/* Card */
.achievement-card {
	background-color: #38616297;
	/* Same as project cards */
	border-radius: 25px;
	transition: all 0.3s ease;
	border: 2px solid rgba(78, 101, 107, 0.274);
	color: #ffffff;
}
.achievement-card:hover {
	transform: translateY(5px);
}
.achievement-card:hover {
	transform: translateY(4px);
	box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15);
}
/* Image Wrapper */
.achievement-img-wrapper {
	width: 100%;
	height: 260px;
	overflow: hidden;
	border-radius: 18px;
}
/* .achievement-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
} */

/* Image */
.achievement-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition: transform 0.4s ease;
}
.achievement-card:hover .achievement-img {
	transform: scale(1.05);
}
/* Text */
#achievements h5 {
	font-weight: 700;
}
.issuer {
	font-size: 0.9rem;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 6px;
}
.description {
	font-size: 0.92rem;
	color: #ffffff;
}
/* ACHIEVEMENT END */

/* ABOUT STARTS */
.about {
	max-width: 1140px;
	margin: 0 auto;
	padding: 60px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about_content {
	width: 90%;
	text-align: center;
}

.download-btn {
	display: inline-block;
	width: 40%;
	text-align: center;
	background-color: #7a8d8f !important;
	font-weight: 900 !important;
	text-transform: uppercase;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.download-btn:hover {
	background-color: #393E46 !important;
	color: #ffffff !important;
	transform: translateY(2px);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.about-title span {
	color: #7eaeb4;
	font-weight: 600;
}

.about-description {
	/* color: #333; */
	line-height: 1.6;
}
/* ABOUT ENDS */

/* ------------------------------------------------------- */

/* DARK MODE BUTTON */
.dark-toggle {
	background-color: #7a8d8f;
	border: none;
	color: #fff;
	font-size: 1rem;
	padding: 5px 10px;
	border-radius: 6px;
	transition: 0.3s ease;
}

.dark-toggle:hover {
	background-color: #393E46;
}

body.dark-mode {
	background-color: #0f1115;
	color: #e6e6e6;
}

/* Header + Footer Same Color */
body.dark-mode .custom-header,
body.dark-mode .custom-footer {
	background-color: #111418 !important;
	border-bottom: 1px solid #1f2a30;
}

/* Navbar Text */
body.dark-mode .navbar-nav .nav-link {
	color: #e6e6e6 !important;
}

body.dark-mode .navbar-nav .nav-link:hover {
	color: #7eaeb4 !important;
}

/* Section Background Fix */
body.dark-mode #projects,
body.dark-mode #achievements {
	background-color: #0f1115 !important;
}

body.dark-mode #skills,
body.dark-mode #contact,
body.dark-mode #about {
	background-color: #111418 !important;
}

/* Cards Global */
body.dark-mode .card,
body.dark-mode .achievement-card,
body.dark-mode .contact-card {
	background: #161b20 !important;
	color: #e6e6e6;
	border: 1px solid #2d3e46;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

/* Project Cards */
body.dark-mode .project-card {
	background: linear-gradient(145deg,
			rgba(56, 97, 98, 0.45),
			rgba(31, 32, 34, 0.8));
	border: 1px solid #2d3e46;
}

/* Achievement Images White Border  */
body.dark-mode .achievement-img-wrapper {
	background: transparent !important;
	padding: 0;
}

/* Skills Bars */
body.dark-mode .skill-bar {
	background: #1f2a30;
}

body.dark-mode .skill-fill {
	background: #7eaeb4;
}

/* Contact Form Fix */
body.dark-mode .contact-section .form-control {
	background-color: #0f1115;
	color: #e6e6e6;
	border: 1px solid #2d3e46;
}

body.dark-mode .contact-section .form-control::placeholder {
	color: #8a9aa3;
}

/* Contact Form Box */
body.dark-mode .contact-section .bg-white {
	background-color: #161b20 !important;
}

/* Button Theme */
body.dark-mode .btn-primary,
body.dark-mode .download-btn {
	background-color: #7eaeb4 !important;
	color: #0f1115 !important;
	border: none;
}

body.dark-mode .btn-primary:hover,
body.dark-mode .download-btn:hover {
	background-color: #5f8f95 !important;
	color: #ffffff !important;
}

/* Footer Text */
body.dark-mode .card-title {
	color: #cfd8dc;
}

/* Toggle Button Style */
.theme-btn {
	border: 1px solid #7eaeb4;
	background: transparent;
	color: #7eaeb4;
	padding: 6px 10px;
	border-radius: 8px;
	margin-left: 15px;
	cursor: pointer;
	transition: 0.3s;
}

.theme-btn:hover {
	background: #7eaeb4;
	color: #0f1115;
}

s .dark-mode {
	background-color: #15171c !important;
	color: #e6e6e6;
}

/* Sections background same tone */
.dark-mode section {
	background-color: #15171c !important;
}

.dark-mode .custom-header {
	background-color: #0f1115 !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.7);
}

/* Navbar text */
.dark-mode .navbar .nav-link {
	color: #e6e6e6 !important;
}

.dark-mode .navbar .nav-link:hover {
	color: #7eaeb4 !important;
}

/* Brand name */
.dark-mode .navbar-brand span {
	color: #ffffff !important;
}

.dark-mode .custom-footer {
	background-color: #0f1115 !important;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}

/* Footer text */
.dark-mode .custom-footer .card-title {
	color: #e6e6e6;
}

.dark-mode .card,
.dark-mode .project-card,
.dark-mode .achievement-card,
.dark-mode .contact-card {
	background-color: #1c1f26 !important;
	border: 1px solid rgba(255, 255, 255, 0.05);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.dark-mode .contact-section .bg-white {
	background-color: #1c1f26 !important;
}

.dark-mode input,
.dark-mode textarea {
	background-color: #111318 !important;
	color: #e6e6e6 !important;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode input::placeholder,
.dark-mode textarea::placeholder {
	color: #888;
}

.dark-mode .btn-primary {
	background-color: #7eaeb4 !important;
	border: none;
	color: #000;
}

.dark-mode .btn-primary:hover {
	background-color: #5f8f95 !important;
}

.theme-switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}

.theme-switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	background-color: #7a8d8f;
	border-radius: 34px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: .3s;
}

.slider:before {
	content: "";
	position: absolute;
	height: 18px;
	width: 18px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	border-radius: 50%;
	transition: .5s;
}

input:checked+.slider {
	background-color: #393E46;
}

input:checked+.slider:before {
	transform: translateX(26px);
}

/* Light Mode */
body.light-mode .section-title {
	color: #1f2022;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

/* Dark Mode */
body.dark-mode .section-title {
	color: #ffffff;
	text-shadow: 0 2px 10px rgba(0, 245, 255, 0.25);
}